body{
    background:#1e2434;
    color:#fff;
    font-family:Montserrat,Arial,Helvetica,sans-serif;
    font-size:16px;
    background: linear-gradient(130deg, #730896, #120774, #0989b8, #06d6cc);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.title{
    display:flex;
    flex-direction:row;
    justify-content:center;
    height:150px;
    width:410px;
}

#app{
    display:flex;
    align-items:center;
    height:100vh;
    text-align:center;
}